<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:app.properties"/>

    <bean id="account" class="com.sbrf.reboot.spring.Account">
        <constructor-arg value="${account.number}"/>
    </bean>

    <bean id="client" class="com.sbrf.reboot.spring.Client">
        <constructor-arg value="${client.name}"/>
        <constructor-arg>
            <set>
                <ref bean="account"/>
            </set>
        </constructor-arg>
    </bean>
</beans>